<!--------------------------Modal to Update and Detete Integer--------------------->

  <div class="modal fade" id="modal-integer-edit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit this Integer</h4>
        </div>
        <div class="modal-body">
          <!--<form>-->
          <!--    <input class="form-control input-md">-->
          <!--    <input type="submit" class="btn btn-primary btn-md mt-lg" value="Edit">-->
          <!--</form>-->
          <%#= random %>
          <%= form_for (@rand_app) do |f| %>
            <%= f.number_field :number, :class => "form-control input-md" %>
            <%= f.submit "Update", :class => "btn btn-primary btn-md" %>
          <% end %>
          
          <%= link_to "Delete" ,@rand_app, :method => :delete,:class =>"btn btn-primary btn-md mt-lg"%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
